OpenMath3/rnc/cd/mathml3-s_dist1-pragmatic.rnc

#     This file contains the pragmatic element definitions for the symbols
#     generated from the content dictionary s_dist1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
opel.application |= mean_s_dist1_elt
mean_s_dist1_elt |= element m:mean {MathML.Common.attrib,Definition.attrib?}
opel.application |= sdev_s_dist1_elt
sdev_s_dist1_elt |= element m:sdev {MathML.Common.attrib,Definition.attrib?}
opel.application |= variance_s_dist1_elt
variance_s_dist1_elt |= element m:variance {MathML.Common.attrib,Definition.attrib?}
opel.application |= moment_s_dist1_elt
moment_s_dist1_elt |= element m:moment {MathML.Common.attrib,Definition.attrib?}
