OpenMath3/rnc/cd/mathml3-s_data1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary 
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
mean_s_data1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"s_data1"},attribute name {"mean"}}
cd.unary |= mean_s_data1_elt
sdev_s_data1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"s_data1"},attribute name {"sdev"}}
cd.binary |= sdev_s_data1_elt
variance_s_data1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"s_data1"},attribute name {"variance"}}
cd.binary |= variance_s_data1_elt
mode_s_data1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"s_data1"},attribute name {"mode"}}
cd.unary |= mode_s_data1_elt
median_s_data1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"s_data1"},attribute name {"median"}}
cd.unary |= median_s_data1_elt
moment_s_data1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"s_data1"},attribute name {"moment"}}
cd.ternary |= moment_s_data1_elt
