OpenMath3/rnc/cd/mathml3-mathmltypes-pragmatic.rnc

#     This file contains the token element definitions for the symbols
#     generated from the content dictionary mathmltypes
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
token.semantic-attribution |= type_mathmltypes_elt
type_mathmltypes_elt |= element m:type {MathML.Common.attrib,Definition.attrib?}
token.constant |= integer_type_mathmltypes_elt
integer_type_mathmltypes_elt |= element m:integer_type {MathML.Common.attrib,Definition.attrib?}
token.constant |= real_type_mathmltypes_elt
real_type_mathmltypes_elt |= element m:real_type {MathML.Common.attrib,Definition.attrib?}
token.constant |= rational_type_mathmltypes_elt
rational_type_mathmltypes_elt |= element m:rational_type {MathML.Common.attrib,Definition.attrib?}
token.constant |= complex_cartesian_type_mathmltypes_elt
complex_cartesian_type_mathmltypes_elt |= element m:complex_cartesian_type {MathML.Common.attrib,Definition.attrib?}
token.constant |= complex_polar_type_mathmltypes_elt
complex_polar_type_mathmltypes_elt |= element m:complex_polar_type {MathML.Common.attrib,Definition.attrib?}
token.constant |= constant_type_mathmltypes_elt
constant_type_mathmltypes_elt |= element m:constant_type {MathML.Common.attrib,Definition.attrib?}
token.constant |= vector_type_mathmltypes_elt
vector_type_mathmltypes_elt |= element m:vector_type {MathML.Common.attrib,Definition.attrib?}
token.constant |= list_type_mathmltypes_elt
list_type_mathmltypes_elt |= element m:list_type {MathML.Common.attrib,Definition.attrib?}
token.constant |= set_type_mathmltypes_elt
set_type_mathmltypes_elt |= element m:set_type {MathML.Common.attrib,Definition.attrib?}
token.constant |= matrix_type_mathmltypes_elt
matrix_type_mathmltypes_elt |= element m:matrix_type {MathML.Common.attrib,Definition.attrib?}
token.constant |= fn_type_mathmltypes_elt
fn_type_mathmltypes_elt |= element m:fn_type {MathML.Common.attrib,Definition.attrib?}
