OpenMath3/rnc/cd/mathml3-setname1-pragmatic.rnc

#     This file contains the token element definitions for the symbols
#     generated from the content dictionary setname1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
P_setname1_elt |= element m:P {MathML.Common.attrib}
token.constant |= P_setname1_elt
N_setname1_elt |= element m:N {MathML.Common.attrib}
token.constant |= N_setname1_elt
Z_setname1_elt |= element m:integers {MathML.Common.attrib}
token.constant |= Z_setname1_elt
Q_setname1_elt |= element m:Q {MathML.Common.attrib}
token.constant |= Q_setname1_elt
R_setname1_elt |= element m:reals {MathML.Common.attrib}
token.constant |= R_setname1_elt
C_setname1_elt |= element m:C {MathML.Common.attrib}
token.constant |= C_setname1_elt
