OpenMath3/rnc/cd/mathml3-piece1-pragmatic.rnc

#     This file contains the pragmatic element definitions for the symbols
#     generated from the content dictionary piece1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
opel.application |= piecewise_piece1_elt
piecewise_piece1_elt |= element m:piecewise {MathML.Common.attrib,Definition.attrib?,ContExp*}
piecewise_piece1_elt |= element m:piecewise {MathML.Common.attrib,Definition.attrib?,bvar*,qualifier?,ContExp*}
container |= piecewise_piece1_elt
opel.application |= piece_piece1_elt
piece_piece1_elt |= element m:piece {MathML.Common.attrib,Definition.attrib?,ContExp*}
piece_piece1_elt |= element m:piece {MathML.Common.attrib,Definition.attrib?,bvar*,qualifier?,ContExp*}
container |= piece_piece1_elt
opel.application |= otherwise_piece1_elt
otherwise_piece1_elt |= element m:otherwise {MathML.Common.attrib,Definition.attrib?,ContExp*}
otherwise_piece1_elt |= element m:otherwise {MathML.Common.attrib,Definition.attrib?,bvar*,qualifier?,ContExp*}
container |= otherwise_piece1_elt
