OpenMath3/rnc/cd/mathml3-calculus1-pragmatic.rnc

#     This file contains the token element definitions for the symbols
#     generated from the content dictionary  calculus1 
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
diff_calculus1_elt |= element m:diff {MathML.Common.attrib}
token.application |= diff_calculus1_elt
nthdiff_calculus1_elt |= element m:nthdiff {MathML.Common.attrib}
token.application |= nthdiff_calculus1_elt
partialdiff_calculus1_elt |= element m:partialdiff {MathML.Common.attrib}
token.application |= partialdiff_calculus1_elt
int_calculus1_elt |= element m:int {MathML.Common.attrib}
token.application |= int_calculus1_elt
defint_calculus1_elt |= element m:defint {MathML.Common.attrib}
token.application |= defint_calculus1_elt
