OpenMath3/rnc/cd/mathml3-interval1-pragmatic.rnc

#     This file contains the pragmatic element definitions for the symbols
#     generated from the content dictionary interval1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
token.application |= integer_interval_interval1_elt
integer_interval_interval1_elt |= element m:integer_interval {MathML.Common.attrib,Definition.attrib?}
token.application |= interval_interval1_elt
interval_interval1_elt |= element m:interval {MathML.Common.attrib,Definition.attrib?,attribute closure {"closed" | "open" | "open-closed" | "closed-open"}?,attribute type {MathMLType}?,ContExp*}
interval_interval1_elt |= element m:interval {MathML.Common.attrib,Definition.attrib?,attribute closure {"closed" | "open" | "open-closed" | "closed-open"}?,attribute type {MathMLType}?,bvar*,qualifier?,ContExp*}
container |= interval_interval1_elt
token.application |= interval_oo_interval1_elt
interval_oo_interval1_elt |= element m:interval {MathML.Common.attrib,Definition.attrib?,attribute closure {"open"}}
token.application |= interval_cc_interval1_elt
interval_cc_interval1_elt |= element m:interval {MathML.Common.attrib,Definition.attrib?,attribute closure {"closed"}}
token.application |= interval_oc_interval1_elt
interval_oc_interval1_elt |= element m:interval {MathML.Common.attrib,Definition.attrib?,attribute closure {"open-closed"}}
token.application |= interval_co_interval1_elt
interval_co_interval1_elt |= element m:interval {MathML.Common.attrib,Definition.attrib?,attribute closure {"closed-open"}}
