OpenMath3/rnc/cd/mathml3-rounding1-pragmatic.rnc

#     This file contains the token element definitions for the symbols
#     generated from the content dictionary rounding1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
token.application |= ceiling_rounding1_elt
ceiling_rounding1_elt |= element m:ceiling {MathML.Common.attrib,Definition.attrib?}
token.application |= floor_rounding1_elt
floor_rounding1_elt |= element m:floor {MathML.Common.attrib,Definition.attrib?}
token.application |= trunc_rounding1_elt
trunc_rounding1_elt |= element m:trunc {MathML.Common.attrib,Definition.attrib?}
token.application |= round_rounding1_elt
round_rounding1_elt |= element m:round {MathML.Common.attrib,Definition.attrib?}
