OpenMath3/rnc/cd/mathml3-integer1-pragmatic.rnc

#     This file contains the token element definitions for the symbols
#     generated from the content dictionary integer1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
token.application |= factorof_integer1_elt
factorof_integer1_elt |= element m:factorof {MathML.Common.attrib,Definition.attrib?}
token.application |= factorial_integer1_elt
factorial_integer1_elt |= element m:factorial {MathML.Common.attrib,Definition.attrib?}
token.application |= quotient_integer1_elt
quotient_integer1_elt |= element m:quotient {MathML.Common.attrib,Definition.attrib?}
token.application |= remainder_integer1_elt
remainder_integer1_elt |= element m:remainder {MathML.Common.attrib,Definition.attrib?}
