OpenMath3/rnc/cd/mathml3-limit1-pragmatic.rnc

#     This file contains the pragmatic element definitions for the symbols
#     generated from the content dictionary limit1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
opel.application |= limit_limit1_elt
limit_limit1_elt |= element m:limit {MathML.Common.attrib,Definition.attrib?}
opel.binder |= limit_limit1_elt
opel.constant |= both_sides_limit1_elt
both_sides_limit1_elt |= element m:both_sides {MathML.Common.attrib,Definition.attrib?}
opel.constant |= above_limit1_elt
above_limit1_elt |= element m:above {MathML.Common.attrib,Definition.attrib?}
opel.constant |= below_limit1_elt
below_limit1_elt |= element m:below {MathML.Common.attrib,Definition.attrib?}
opel.constant |= null_limit1_elt
null_limit1_elt |= element m:null {MathML.Common.attrib,Definition.attrib?}
opel.application |= tendsto_limit1_elt
tendsto_limit1_elt |= element m:tendsto {MathML.Common.attrib,Definition.attrib?,attribute type {"above" | "below" | "all" | MathMLType}?}
