OpenMath3/rnc/cd/mathml3-rounding1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary 
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
ceiling_rounding1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"rounding1"},attribute name {"ceiling"}}
cd.unary |= ceiling_rounding1_elt
floor_rounding1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"rounding1"},attribute name {"floor"}}
cd.unary |= floor_rounding1_elt
trunc_rounding1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"rounding1"},attribute name {"trunc"}}
cd.unary |= trunc_rounding1_elt
round_rounding1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"rounding1"},attribute name {"round"}}
cd.unary |= round_rounding1_elt
