OpenMath3/rnc/cd/mathml3-minmax1-pragmatic.rnc

#     This file contains the pragmatic element definitions for the symbols
#     generated from the content dictionary minmax1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
opel.application |= min_minmax1_elt
min_minmax1_elt |= element m:min {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.binder |= min_minmax1_elt
opel.application |= max_minmax1_elt
max_minmax1_elt |= element m:max {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.binder |= max_minmax1_elt
