OpenMath3/rnc/cd/mathml3-veccalc1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary veccalc1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
divergence_veccalc1_elt = element m:csymbol{attribute cd {"veccalc1"}, attribute name {"divergence"}}
cd.unary |= divergence_veccalc1_elt
grad_veccalc1_elt = element m:csymbol{attribute cd {"veccalc1"}, attribute name {"grad"}}
cd.unary |= grad_veccalc1_elt
curl_veccalc1_elt = element m:csymbol{attribute cd {"veccalc1"}, attribute name {"curl"}}
cd.unary |= curl_veccalc1_elt
Laplacian_veccalc1_elt = element m:csymbol{attribute cd {"veccalc1"}, attribute name {"Laplacian"}}
cd.unary |= Laplacian_veccalc1_elt
