OpenMath3/rnc/cd/mathml3-setname1-pragmatic.rnc

#     This file contains the token element definitions for the symbols
#     generated from the content dictionary setname1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
token.constant |= P_setname1_elt
P_setname1_elt |= element m:primes {MathML.Common.attrib,Definition.attrib?}
token.constant |= N_setname1_elt
N_setname1_elt |= element m:naturalnumbers {MathML.Common.attrib,Definition.attrib?}
token.constant |= Z_setname1_elt
Z_setname1_elt |= element m:integers {MathML.Common.attrib,Definition.attrib?}
token.constant |= rationials_setname1_elt
rationials_setname1_elt |= element m:rationals {MathML.Common.attrib,Definition.attrib?}
token.constant |= R_setname1_elt
R_setname1_elt |= element m:reals {MathML.Common.attrib,Definition.attrib?}
token.constant |= complexes_setname1_elt
complexes_setname1_elt |= element m:complexes {MathML.Common.attrib,Definition.attrib?}
