OpenMath3/rnc/cd/mathml3-fns1-pragmatic.rnc

#     This file contains the token element definitions for the symbols
#     generated from the content dictionary fns1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
token.application |= domainofapplication_fns1_elt
domainofapplication_fns1_elt |= element m:domainofapplication {MathML.Common.attrib,Definition.attrib?}
token.application |= domain_fns1_elt
domain_fns1_elt |= element m:domain {MathML.Common.attrib,Definition.attrib?}
token.application |= range_fns1_elt
range_fns1_elt |= element m:range {MathML.Common.attrib,Definition.attrib?}
token.application |= image_fns1_elt
image_fns1_elt |= element m:image {MathML.Common.attrib,Definition.attrib?}
token.application |= identity_fns1_elt
identity_fns1_elt |= element m:identity {MathML.Common.attrib,Definition.attrib?}
token.application |= left_inverse_fns1_elt
left_inverse_fns1_elt |= element m:left_inverse {MathML.Common.attrib,Definition.attrib?}
token.application |= right_inverse_fns1_elt
right_inverse_fns1_elt |= element m:right_inverse {MathML.Common.attrib,Definition.attrib?}
token.application |= inverse_fns1_elt
inverse_fns1_elt |= element m:inverse {MathML.Common.attrib,Definition.attrib?}
token.application |= left_compose_fns1_elt
left_compose_fns1_elt |= element m:left_compose {MathML.Common.attrib,Definition.attrib?}
token.binder |= lambda_fns1_elt
lambda_fns1_elt |= element m:lambda {MathML.Common.attrib,Definition.attrib?}
lambda_fns1_elt |= element m:lambda {MathML.Common.attrib,Definition.attrib?,bvar*,qualifier?,ContExp}
container |= lambda_fns1_elt
