OpenMath3/rnc/cd/mathml3-fns1-pragmatic.rnc

#     This file contains the pragmatic element definitions for the symbols
#     generated from the content dictionary fns1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
opel.application |= domain_fns1_elt
domain_fns1_elt |= element m:domain {MathML.Common.attrib,Definition.attrib?}
opel.application |= range_fns1_elt
range_fns1_elt |= element m:codomain {MathML.Common.attrib,Definition.attrib?}
opel.application |= image_fns1_elt
image_fns1_elt |= element m:image {MathML.Common.attrib,Definition.attrib?}
opel.application |= identity_fns1_elt
identity_fns1_elt |= element m:ident {MathML.Common.attrib,Definition.attrib?}
opel.application |= left_inverse_fns1_elt
opel.application |= right_inverse_fns1_elt
opel.application |= inverse_fns1_elt
inverse_fns1_elt |= element m:inverse {MathML.Common.attrib,Definition.attrib?}
opel.application |= left_compose_fns1_elt
left_compose_fns1_elt |= element m:compose {MathML.Common.attrib,Definition.attrib?}
opel.binder |= lambda_fns1_elt
lambda_fns1_elt |= element m:lambda {MathML.Common.attrib,Definition.attrib?,ContExp*}
lambda_fns1_elt |= element m:lambda {MathML.Common.attrib,Definition.attrib?,bvar*,qualifier?,ContExp*}
container |= lambda_fns1_elt
