OpenMath3/rnc/cd/mathml3-linalg3-pragmatic.rnc

#     This file contains the pragmatic element definitions for the symbols
#     generated from the content dictionary linalg3
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
opel.application |= vector_linalg3_elt
vector_linalg3_elt |= element m:vector {MathML.Common.attrib,Definition.attrib?,attribute type {"column" | MathMLType}?,ContExp*}
vector_linalg3_elt |= element m:vector {MathML.Common.attrib,Definition.attrib?,attribute type {"column" | MathMLType}?,bvar*,qualifier?,ContExp*}
container |= vector_linalg3_elt
opel.application |= matrixcolumn_linalg3_elt
matrixcolumn_linalg3_elt |= element m:matrixcolumn {MathML.Common.attrib,Definition.attrib?}
opel.application |= matrix_linalg3_elt
matrix_linalg3_elt |= element m:matrix {MathML.Common.attrib,Definition.attrib?}
