OpenMath3/rnc/cd/mathml3-nums1-pragmatic.rnc

#     This file contains the pragmatic element definitions for the symbols
#     generated from the content dictionary nums1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
opel.application |= based_integer_nums1_elt
based_integer_nums1_elt |= element m:based_integer {MathML.Common.attrib,Definition.attrib?}
opel.application |= rational_nums1_elt
rational_nums1_elt |= element m:rational {MathML.Common.attrib,Definition.attrib?}
opel.constant |= infinity_nums1_elt
infinity_nums1_elt |= element m:infinity {MathML.Common.attrib,Definition.attrib?}
opel.constant |= e_nums1_elt
e_nums1_elt |= element m:exponentiale {MathML.Common.attrib,Definition.attrib?}
opel.constant |= i_nums1_elt
i_nums1_elt |= element m:imaginaryi {MathML.Common.attrib,Definition.attrib?}
opel.constant |= pi_nums1_elt
pi_nums1_elt |= element m:pi {MathML.Common.attrib,Definition.attrib?}
opel.constant |= gamma_nums1_elt
gamma_nums1_elt |= element m:eulergamma {MathML.Common.attrib,Definition.attrib?}
opel.constant |= NaN_nums1_elt
NaN_nums1_elt |= element m:notanumber {MathML.Common.attrib,Definition.attrib?}
