OpenMath3/rnc/cd/mathml3-error1-pragmatic.rnc

#     This file contains the token element definitions for the symbols
#     generated from the content dictionary error1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
token.error |= unhandled_symbol_error1_elt
unhandled_symbol_error1_elt |= element m:unhandled_symbol {MathML.Common.attrib,Definition.attrib?}
token.error |= unexpected_symbol_error1_elt
unexpected_symbol_error1_elt |= element m:unexpected_symbol {MathML.Common.attrib,Definition.attrib?}
token.error |= unsupported_CD_error1_elt
unsupported_CD_error1_elt |= element m:unsupported_CD {MathML.Common.attrib,Definition.attrib?}
