OpenMath3/rnc/cd/mathml3-linalg2-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary 
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
vector_linalg2_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"linalg2"},attribute name {"vector"}}
cd.unary |= vector_linalg2_elt
matrixrow_linalg2_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"linalg2"},attribute name {"matrixrow"}}
cd.unary |= matrixrow_linalg2_elt
matrix_linalg2_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"linalg2"},attribute name {"matrix"}}
cd.unary |= matrix_linalg2_elt
