OpenMath3/rnc/cd/mathml3-linalg1-pragmatic.rnc

#     This file contains the pragmatic element definitions for the symbols
#     generated from the content dictionary linalg1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
token.application |= vectorproduct_linalg1_elt
vectorproduct_linalg1_elt |= element m:vectorproduct {MathML.Common.attrib,Definition.attrib?}
token.application |= scalarproduct_linalg1_elt
scalarproduct_linalg1_elt |= element m:scalarproduct {MathML.Common.attrib,Definition.attrib?}
token.binder |= scalarproduct_linalg1_elt
token.application |= outerproduct_linalg1_elt
outerproduct_linalg1_elt |= element m:outerproduct {MathML.Common.attrib,Definition.attrib?}
token.binder |= outerproduct_linalg1_elt
token.application |= transpose_linalg1_elt
transpose_linalg1_elt |= element m:transpose {MathML.Common.attrib,Definition.attrib?}
token.application |= determinant_linalg1_elt
determinant_linalg1_elt |= element m:determinant {MathML.Common.attrib,Definition.attrib?}
token.application |= vector_selector_linalg1_elt
vector_selector_linalg1_elt |= element m:selector {MathML.Common.attrib,Definition.attrib?}
token.application |= matrix_selector_linalg1_elt
matrix_selector_linalg1_elt |= element m:matrix_selector {MathML.Common.attrib,Definition.attrib?}
