OpenMath3/rnc/cd/mathml3-transc1-pragmatic.rnc

#     This file contains the pragmatic element definitions for the symbols
#     generated from the content dictionary transc1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
opel.application |= log_transc1_elt
log_transc1_elt |= element m:log {MathML.Common.attrib,Definition.attrib?}
opel.application |= ln_transc1_elt
ln_transc1_elt |= element m:ln {MathML.Common.attrib,Definition.attrib?}
opel.application |= exp_transc1_elt
exp_transc1_elt |= element m:exp {MathML.Common.attrib,Definition.attrib?}
opel.application |= sin_transc1_elt
sin_transc1_elt |= element m:sin {MathML.Common.attrib,Definition.attrib?}
opel.application |= cos_transc1_elt
cos_transc1_elt |= element m:cos {MathML.Common.attrib,Definition.attrib?}
opel.application |= tan_transc1_elt
tan_transc1_elt |= element m:tan {MathML.Common.attrib,Definition.attrib?}
opel.application |= sec_transc1_elt
sec_transc1_elt |= element m:sec {MathML.Common.attrib,Definition.attrib?}
opel.application |= csc_transc1_elt
csc_transc1_elt |= element m:csc {MathML.Common.attrib,Definition.attrib?}
opel.application |= cot_transc1_elt
cot_transc1_elt |= element m:cot {MathML.Common.attrib,Definition.attrib?}
opel.application |= sinh_transc1_elt
sinh_transc1_elt |= element m:sinh {MathML.Common.attrib,Definition.attrib?}
opel.application |= cosh_transc1_elt
cosh_transc1_elt |= element m:cosh {MathML.Common.attrib,Definition.attrib?}
opel.application |= tanh_transc1_elt
tanh_transc1_elt |= element m:tanh {MathML.Common.attrib,Definition.attrib?}
opel.application |= sech_transc1_elt
sech_transc1_elt |= element m:sech {MathML.Common.attrib,Definition.attrib?}
opel.application |= csch_transc1_elt
csch_transc1_elt |= element m:csch {MathML.Common.attrib,Definition.attrib?}
opel.application |= coth_transc1_elt
coth_transc1_elt |= element m:coth {MathML.Common.attrib,Definition.attrib?}
opel.application |= arcsin_transc1_elt
arcsin_transc1_elt |= element m:arcsin {MathML.Common.attrib,Definition.attrib?}
opel.application |= arccos_transc1_elt
arccos_transc1_elt |= element m:arccos {MathML.Common.attrib,Definition.attrib?}
opel.application |= arctan_transc1_elt
arctan_transc1_elt |= element m:arctan {MathML.Common.attrib,Definition.attrib?}
opel.application |= arcsec_transc1_elt
arcsec_transc1_elt |= element m:arcsec {MathML.Common.attrib,Definition.attrib?}
opel.application |= arccsc_transc1_elt
arccsc_transc1_elt |= element m:arccsc {MathML.Common.attrib,Definition.attrib?}
opel.application |= arccot_transc1_elt
arccot_transc1_elt |= element m:arccot {MathML.Common.attrib,Definition.attrib?}
opel.application |= arcsinh_transc1_elt
arcsinh_transc1_elt |= element m:arcsinh {MathML.Common.attrib,Definition.attrib?}
opel.application |= arccosh_transc1_elt
arccosh_transc1_elt |= element m:arccosh {MathML.Common.attrib,Definition.attrib?}
opel.application |= arctanh_transc1_elt
arctanh_transc1_elt |= element m:arctanh {MathML.Common.attrib,Definition.attrib?}
opel.application |= arcsech_transc1_elt
arcsech_transc1_elt |= element m:arcsech {MathML.Common.attrib,Definition.attrib?}
opel.application |= arccsch_transc1_elt
arccsch_transc1_elt |= element m:arccsch {MathML.Common.attrib,Definition.attrib?}
opel.application |= arccoth_transc1_elt
arccoth_transc1_elt |= element m:arccoth {MathML.Common.attrib,Definition.attrib?}
