OpenMath3/rnc/cd/mathml3-list1-pragmatic.rnc

#     This file contains the token element definitions for the symbols
#     generated from the content dictionary list1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
map_list1_elt |= element m:map {MathML.Common.attrib}
token.application |= map_list1_elt
suchthat_list1_elt |= element m:suchthat {MathML.Common.attrib}
token.application |= suchthat_list1_elt
list_list1_elt |= element m:list {MathML.Common.attrib,ContExp*}
token.application |= list_list1_elt
