OpenMath3/rnc/cd/mathml3-set1-pragmatic.rnc

#     This file contains the pragmatic element definitions for the symbols
#     generated from the content dictionary set1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
opel.application |= cartesian_product_set1_elt
cartesian_product_set1_elt |= element m:cartesianproduct {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?}
opel.binder |= cartesian_product_set1_elt
opel.constant |= emptyset_set1_elt
emptyset_set1_elt |= element m:emptyset {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?}
opel.application |= map_set1_elt
map_set1_elt |= element m:map {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?}
opel.application |= size_set1_elt
size_set1_elt |= element m:card {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?}
opel.application |= suchthat_set1_elt
suchthat_set1_elt |= element m:suchthat {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?}
opel.application |= set_set1_elt
set_set1_elt |= element m:set {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?,ContExp*}
set_set1_elt |= element m:set {MathML.Common.attrib,Definition.attrib?,attribute type {"normal" | "multiset"}?,bvar*,qualifier?,ContExp*}
container |= set_set1_elt
opel.application |= intersect_set1_elt
intersect_set1_elt |= element m:intersect {MathML.Common.attrib,Definition.attrib?}
opel.binder |= intersect_set1_elt
opel.binder |= big_intersect_set1_elt
opel.application |= union_set1_elt
union_set1_elt |= element m:union {MathML.Common.attrib,Definition.attrib?}
opel.binder |= union_set1_elt
opel.binder |= big_union_set1_elt
opel.application |= setdiff_set1_elt
setdiff_set1_elt |= element m:setdiff {MathML.Common.attrib,Definition.attrib?}
opel.application |= subset_set1_elt
subset_set1_elt |= element m:subset {MathML.Common.attrib,Definition.attrib?}
opel.binder |= subset_set1_elt
opel.application |= in_set1_elt
in_set1_elt |= element m:in {MathML.Common.attrib,Definition.attrib?}
opel.application |= notin_set1_elt
notin_set1_elt |= element m:notin {MathML.Common.attrib,Definition.attrib?}
opel.application |= prsubset_set1_elt
prsubset_set1_elt |= element m:prsubset {MathML.Common.attrib,Definition.attrib?}
opel.binder |= prsubset_set1_elt
opel.application |= notsubset_set1_elt
notsubset_set1_elt |= element m:notsubset {MathML.Common.attrib,Definition.attrib?}
opel.application |= notprsubset_set1_elt
notprsubset_set1_elt |= element m:notprsubset {MathML.Common.attrib,Definition.attrib?}
