OpenMath3/rnc/cd/mathml3-mathmltypes-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary 
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
type_mathmltypes_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"mathmltypes"},attribute name {"type"}}
cd.key |= type_mathmltypes_elt
integer_type_mathmltypes_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"mathmltypes"},attribute name {"integer_type"}}
cd.constants |= integer_type_mathmltypes_elt
real_type_mathmltypes_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"mathmltypes"},attribute name {"real_type"}}
cd.constants |= real_type_mathmltypes_elt
rational_type_mathmltypes_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"mathmltypes"},attribute name {"rational_type"}}
cd.constants |= rational_type_mathmltypes_elt
complex_cartesian_type_mathmltypes_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"mathmltypes"},attribute name {"complex_cartesian_type"}}
cd.constants |= complex_cartesian_type_mathmltypes_elt
complex_polar_type_mathmltypes_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"mathmltypes"},attribute name {"complex_polar_type"}}
cd.constants |= complex_polar_type_mathmltypes_elt
constant_type_mathmltypes_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"mathmltypes"},attribute name {"constant_type"}}
cd.constants |= constant_type_mathmltypes_elt
vector_type_mathmltypes_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"mathmltypes"},attribute name {"vector_type"}}
cd.constants |= vector_type_mathmltypes_elt
list_type_mathmltypes_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"mathmltypes"},attribute name {"list_type"}}
cd.constants |= list_type_mathmltypes_elt
set_type_mathmltypes_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"mathmltypes"},attribute name {"set_type"}}
cd.constants |= set_type_mathmltypes_elt
matrix_type_mathmltypes_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"mathmltypes"},attribute name {"matrix_type"}}
cd.constants |= matrix_type_mathmltypes_elt
fn_type_mathmltypes_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"mathmltypes"},attribute name {"fn_type"}}
cd.constants |= fn_type_mathmltypes_elt
