OpenMath3/rnc/cd/mathml3-complex1-pragmatic.rnc

#     This file contains the token element definitions for the symbols
#     generated from the content dictionary complex1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
complex_cartesian_complex1_elt |= element m:complex_cartesian {MathML.Common.attrib}
token.application |= complex_cartesian_complex1_elt
real_complex1_elt |= element m:real {MathML.Common.attrib}
token.application |= real_complex1_elt
imaginary_complex1_elt |= element m:imaginary {MathML.Common.attrib}
token.application |= imaginary_complex1_elt
complex_polar_complex1_elt |= element m:complex_polar {MathML.Common.attrib}
token.application |= complex_polar_complex1_elt
argument_complex1_elt |= element m:argument {MathML.Common.attrib}
token.application |= argument_complex1_elt
conjugate_complex1_elt |= element m:conjugate {MathML.Common.attrib}
token.application |= conjugate_complex1_elt
