OpenMath3/rnc/cd/mathml3-quant1-pragmatic.rnc

#     This file contains the pragmatic element definitions for the symbols
#     generated from the content dictionary quant1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
token.binder |= forall_quant1_elt
forall_quant1_elt |= element m:forall {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
token.binder |= exists_quant1_elt
exists_quant1_elt |= element m:exists {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
