OpenMath3/rnc/cd/mathml3-linalg2-pragmatic.rnc

#     This file contains the pragmatic element definitions for the symbols
#     generated from the content dictionary linalg2
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
token.application |= vector_linalg2_elt
vector_linalg2_elt |= element m:vector {MathML.Common.attrib,Definition.attrib?,attribute type {"row"|MathMLType}?,ContExp*}
vector_linalg2_elt |= element m:vector {MathML.Common.attrib,Definition.attrib?,attribute type {"row"|MathMLType}?,bvar*,qualifier?,ContExp*}
container |= vector_linalg2_elt
token.application |= matrixrow_linalg2_elt
matrixrow_linalg2_elt |= element m:matrixrow {MathML.Common.attrib,Definition.attrib?,ContExp*}
matrixrow_linalg2_elt |= element m:matrixrow {MathML.Common.attrib,Definition.attrib?,bvar*,qualifier?,ContExp*}
container |= matrixrow_linalg2_elt
token.application |= matrix_linalg2_elt
matrix_linalg2_elt |= element m:matrix {MathML.Common.attrib,Definition.attrib?,attribute type {"real" | "complex" | "integer" | "symbolic" | MathMLType}?,ContExp*}
matrix_linalg2_elt |= element m:matrix {MathML.Common.attrib,Definition.attrib?,attribute type {"real" | "complex" | "integer" | "symbolic" | MathMLType}?,bvar*,qualifier?,ContExp*}
container |= matrix_linalg2_elt
