OpenMath3/rnc/cd/mathml3-interval1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary interval1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
integer_interval_interval1_elt = element m:csymbol{attribute cd {"interval1"}, attribute name {"integer_interval"}}
cd.binary |= integer_interval_interval1_elt
interval_interval1_elt = element m:csymbol{attribute cd {"interval1"}, attribute name {"interval"}}
cd.binary |= interval_interval1_elt
interval_oo_interval1_elt = element m:csymbol{attribute cd {"interval1"}, attribute name {"interval_oo"}}
cd.binary |= interval_oo_interval1_elt
interval_cc_interval1_elt = element m:csymbol{attribute cd {"interval1"}, attribute name {"interval_cc"}}
cd.binary |= interval_cc_interval1_elt
interval_oc_interval1_elt = element m:csymbol{attribute cd {"interval1"}, attribute name {"interval_oc"}}
cd.binary |= interval_oc_interval1_elt
interval_co_interval1_elt = element m:csymbol{attribute cd {"interval1"}, attribute name {"interval_co"}}
cd.binary |= interval_co_interval1_elt
