OpenMath3/rnc/cd/mathml3-logic1-pragmatic.rnc

#     This file contains the pragmatic element definitions for the symbols
#     generated from the content dictionary logic1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
opel.application |= equivalent_logic1_elt
equivalent_logic1_elt |= element m:equivalent {MathML.Common.attrib,Definition.attrib?}
opel.binder |= equivalent_logic1_elt
opel.application |= not_logic1_elt
not_logic1_elt |= element m:not {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.application |= and_logic1_elt
and_logic1_elt |= element m:and {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.binder |= and_logic1_elt
opel.binder |= big_and_logic1_elt
opel.application |= xor_logic1_elt
xor_logic1_elt |= element m:xor {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.binder |= xor_logic1_elt
opel.binder |= big_xor_logic1_elt
opel.application |= or_logic1_elt
or_logic1_elt |= element m:or {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.binder |= or_logic1_elt
opel.binder |= big_or_logic1_elt
opel.application |= implies_logic1_elt
implies_logic1_elt |= element m:implies {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
opel.constant |= true_logic1_elt
true_logic1_elt |= element m:true {MathML.Common.attrib,Definition.attrib?}
opel.constant |= false_logic1_elt
false_logic1_elt |= element m:false {MathML.Common.attrib,Definition.attrib?}
