OpenMath3/rnc/cd/mathml3-linalg1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary linalg1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
determinant_linalg1_elt = element m:csymbol{attribute cd {"linalg1"}, attribute name {"determinant"}}
cd.unary |= determinant_linalg1_elt
transpose_linalg1_elt = element m:csymbol{attribute cd {"linalg1"}, attribute name {"transpose"}}
cd.unary |= transpose_linalg1_elt
vector_selector_linalg1_elt = element m:csymbol{attribute cd {"linalg1"}, attribute name {"vector_selector"}}
cd.binary |= vector_selector_linalg1_elt
matrix_selector_linalg1_elt = element m:csymbol{attribute cd {"linalg1"}, attribute name {"matrix_selector"}}
cd.ternary |= matrix_selector_linalg1_elt
vectorproduct_linalg1_elt = element m:csymbol{attribute cd {"linalg1"}, attribute name {"vectorproduct"}}
cd.binary |= vectorproduct_linalg1_elt
scalarproduct_linalg1_elt = element m:csymbol{attribute cd {"linalg1"}, attribute name {"scalarproduct"}}
cd.binary |= scalarproduct_linalg1_elt
outerproduct_linalg1_elt = element m:csymbol{attribute cd {"linalg1"}, attribute name {"outerproduct"}}
cd.binary |= outerproduct_linalg1_elt
