OpenMath3/rnc/cd/mathml3-omtypes-pragmatic.rnc

#     This file contains the token element definitions for the symbols
#     generated from the content dictionary omtypes
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
token.constant |= omtype_omtypes_elt
omtype_omtypes_elt |= element m:omtype {MathML.Common.attrib,Definition.attrib?}
token.constant |= symtype_omtypes_elt
token.constant |= integer_omtypes_elt
integer_omtypes_elt |= element m:integer {MathML.Common.attrib,Definition.attrib?}
token.constant |= float_omtypes_elt
float_omtypes_elt |= element m:float {MathML.Common.attrib,Definition.attrib?}
token.constant |= string_omtypes_elt
string_omtypes_elt |= element m:string {MathML.Common.attrib,Definition.attrib?}
token.constant |= bytearray_omtypes_elt
bytearray_omtypes_elt |= element m:bytearray {MathML.Common.attrib,Definition.attrib?}
