OpenMath3/rnc/cd/mathml3-sts-pragmatic.rnc

#     This file contains the token element definitions for the symbols
#     generated from the content dictionary sts
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
type_sts_elt |= element m:type {MathML.Common.attrib}
token.semantic-attribution |= type_sts_elt
mapsto_sts_elt |= element m:mapsto {MathML.Common.attrib}
token.application |= mapsto_sts_elt
nary_sts_elt |= element m:nary {MathML.Common.attrib}
token.application |= nary_sts_elt
nassoc_sts_elt |= element m:nassoc {MathML.Common.attrib}
token.application |= nassoc_sts_elt
error_sts_elt |= element m:error {MathML.Common.attrib}
token.constant |= error_sts_elt
structure_sts_elt |= element m:structure {MathML.Common.attrib}
token.application |= structure_sts_elt
binder_sts_elt |= element m:binder {MathML.Common.attrib}
token.constant |= binder_sts_elt
attribution_sts_elt |= element m:attribution {MathML.Common.attrib}
token.constant |= attribution_sts_elt
Object_sts_elt |= element m:Object {MathML.Common.attrib}
token.constant |= Object_sts_elt
token.constant |= NumericalValue_sts_elt
token.constant |= SetNumericalValue_sts_elt
