OpenMath3/rnc/cd/mathml3-arith1-pragmatic.rnc

#     This file contains the token element definitions for the symbols
#     generated from the content dictionary  arith1 
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
lcm_arith1_elt |= element m:lcm {MathML.Common.attrib}
token.application |= lcm_arith1_elt
gcd_arith1_elt |= element m:gcd {MathML.Common.attrib}
token.application |= gcd_arith1_elt
plus_arith1_elt |= element m:plus {MathML.Common.attrib}
token.application |= plus_arith1_elt
unary_minus_arith1_elt |= element m:unary_minus {MathML.Common.attrib}
token.application |= unary_minus_arith1_elt
minus_arith1_elt |= element m:minus {MathML.Common.attrib}
token.application |= minus_arith1_elt
times_arith1_elt |= element m:times {MathML.Common.attrib}
token.application |= times_arith1_elt
divide_arith1_elt |= element m:divide {MathML.Common.attrib}
token.application |= divide_arith1_elt
power_arith1_elt |= element m:power {MathML.Common.attrib}
token.application |= power_arith1_elt
abs_arith1_elt |= element m:abs {MathML.Common.attrib}
token.application |= abs_arith1_elt
root_arith1_elt |= element m:root {MathML.Common.attrib}
token.application |= root_arith1_elt
sum_arith1_elt |= element m:sum {MathML.Common.attrib}
token.application |= sum_arith1_elt
product_arith1_elt |= element m:product {MathML.Common.attrib}
token.application |= product_arith1_elt
