OpenMath3/rnc/cd/mathml3-nums1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary nums1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
based_integer_nums1_elt = element m:csymbol{attribute cd {"nums1"}, attribute name {"based_integer"}}
cd.binary |= based_integer_nums1_elt
rational_nums1_elt = element m:csymbol{attribute cd {"nums1"}, attribute name {"rational"}}
cd.binary |= rational_nums1_elt
infinity_nums1_elt = element m:csymbol{attribute cd {"nums1"}, attribute name {"infinity"}}
cd.constants |= infinity_nums1_elt
e_nums1_elt = element m:csymbol{attribute cd {"nums1"}, attribute name {"e"}}
cd.constants |= e_nums1_elt
i_nums1_elt = element m:csymbol{attribute cd {"nums1"}, attribute name {"i"}}
cd.constants |= i_nums1_elt
pi_nums1_elt = element m:csymbol{attribute cd {"nums1"}, attribute name {"pi"}}
cd.constants |= pi_nums1_elt
gamma_nums1_elt = element m:csymbol{attribute cd {"nums1"}, attribute name {"gamma"}}
cd.constants |= gamma_nums1_elt
NaN_nums1_elt = element m:csymbol{attribute cd {"nums1"}, attribute name {"NaN"}}
cd.constants |= NaN_nums1_elt
