OpenMath3/rnc/cd/mathml3-relation1-pragmatic.rnc

#     This file contains the pragmatic element definitions for the symbols
#     generated from the content dictionary relation1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
opel.application |= eq_relation1_elt
eq_relation1_elt |= element m:eq {MathML.Common.attrib,Definition.attrib?}
opel.application |= lt_relation1_elt
lt_relation1_elt |= element m:lt {MathML.Common.attrib,Definition.attrib?}
opel.application |= gt_relation1_elt
gt_relation1_elt |= element m:gt {MathML.Common.attrib,Definition.attrib?}
opel.application |= neq_relation1_elt
neq_relation1_elt |= element m:neq {MathML.Common.attrib,Definition.attrib?}
opel.application |= leq_relation1_elt
leq_relation1_elt |= element m:leq {MathML.Common.attrib,Definition.attrib?}
opel.application |= geq_relation1_elt
geq_relation1_elt |= element m:geq {MathML.Common.attrib,Definition.attrib?}
opel.application |= approx_relation1_elt
approx_relation1_elt |= element m:approx {MathML.Common.attrib,Definition.attrib?,attribute type {MathMLType}?}
