OpenMath3/rnc/cd/mathml3-transc1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary 
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
log_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"log"}}
cd.binary |= log_transc1_elt
ln_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"ln"}}
cd.unary |= ln_transc1_elt
exp_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"exp"}}
cd.unary |= exp_transc1_elt
sin_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"sin"}}
cd.unary |= sin_transc1_elt
cos_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"cos"}}
cd.unary |= cos_transc1_elt
tan_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"tan"}}
cd.unary |= tan_transc1_elt
sec_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"sec"}}
cd.unary |= sec_transc1_elt
csc_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"csc"}}
cd.unary |= csc_transc1_elt
cot_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"cot"}}
cd.unary |= cot_transc1_elt
sinh_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"sinh"}}
cd.unary |= sinh_transc1_elt
cosh_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"cosh"}}
cd.unary |= cosh_transc1_elt
tanh_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"tanh"}}
cd.unary |= tanh_transc1_elt
sech_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"sech"}}
cd.unary |= sech_transc1_elt
csch_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"csch"}}
cd.unary |= csch_transc1_elt
coth_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"coth"}}
cd.unary |= coth_transc1_elt
arcsin_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"arcsin"}}
cd.unary |= arcsin_transc1_elt
arccos_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"arccos"}}
cd.unary |= arccos_transc1_elt
arctan_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"arctan"}}
cd.unary |= arctan_transc1_elt
arcsec_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"arcsec"}}
cd.unary |= arcsec_transc1_elt
arccsc_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"arccsc"}}
cd.unary |= arccsc_transc1_elt
arccot_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"arccot"}}
cd.unary |= arccot_transc1_elt
arcsinh_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"arcsinh"}}
cd.unary |= arcsinh_transc1_elt
arccosh_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"arccosh"}}
cd.unary |= arccosh_transc1_elt
arctanh_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"arctanh"}}
cd.unary |= arctanh_transc1_elt
arcsech_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"arcsech"}}
cd.unary |= arcsech_transc1_elt
arccsch_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"arccsch"}}
cd.unary |= arccsch_transc1_elt
arccoth_transc1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"transc1"},attribute name {"arccoth"}}
cd.unary |= arccoth_transc1_elt
