OpenMath3/rnc/cd/mathml3-veccalc1-pragmatic.rnc

#     This file contains the pragmatic element definitions for the symbols
#     generated from the content dictionary veccalc1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
opel.application |= divergence_veccalc1_elt
divergence_veccalc1_elt |= element m:divergence {MathML.Common.attrib,Definition.attrib?}
opel.application |= grad_veccalc1_elt
grad_veccalc1_elt |= element m:grad {MathML.Common.attrib,Definition.attrib?}
opel.application |= curl_veccalc1_elt
curl_veccalc1_elt |= element m:curl {MathML.Common.attrib,Definition.attrib?}
opel.application |= Laplacian_veccalc1_elt
Laplacian_veccalc1_elt |= element m:laplacian {MathML.Common.attrib,Definition.attrib?}
