OpenMath3/rnc/cd/mathml3-multiset1-pragmatic.rnc

#     This file contains the pragmatic element definitions for the symbols
#     generated from the content dictionary multiset1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
token.application |= size_multiset1_elt
size_multiset1_elt |= element m:size {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
token.application |= cartesian_product_multiset1_elt
cartesian_product_multiset1_elt |= element m:cartesianproduct {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
token.binder |= cartesian_product_multiset1_elt
token.constant |= emptyset_multiset1_elt
emptyset_multiset1_elt |= element m:emptyset {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
token.application |= multiset_multiset1_elt
multiset_multiset1_elt |= element m:multiset {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"},ContExp*}
multiset_multiset1_elt |= element m:multiset {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"},bvar*,qualifier?,ContExp*}
container |= multiset_multiset1_elt
token.binder |= multiset_multiset1_elt
token.application |= intersect_multiset1_elt
intersect_multiset1_elt |= element m:intersect {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
token.binder |= intersect_multiset1_elt
token.binder |= big_intersect_multiset1_elt
token.application |= union_multiset1_elt
union_multiset1_elt |= element m:union {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
token.binder |= union_multiset1_elt
token.binder |= big_union_multiset1_elt
token.application |= setdiff_multiset1_elt
setdiff_multiset1_elt |= element m:setdiff {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
token.application |= subset_multiset1_elt
subset_multiset1_elt |= element m:subset {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
token.binder |= subset_multiset1_elt
token.application |= in_multiset1_elt
in_multiset1_elt |= element m:in {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
token.application |= notin_multiset1_elt
notin_multiset1_elt |= element m:notin {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
token.application |= prsubset_multiset1_elt
prsubset_multiset1_elt |= element m:prsubset {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
token.binder |= prsubset_multiset1_elt
token.application |= notsubset_multiset1_elt
notsubset_multiset1_elt |= element m:notsubset {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
token.application |= notprsubset_multiset1_elt
notprsubset_multiset1_elt |= element m:notprsubset {MathML.Common.attrib,Definition.attrib?,attribute type {"multiset"}}
