OpenMath3/rnc/cd/om3-logic1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary 
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace om = "http://www.openmath.org/OpenMath"

equivalent_logic1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"logic1"},attribute name {"equivalent"}}
cd.binary |= equivalent_logic1_elt
not_logic1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"logic1"},attribute name {"not"}}
cd.unary |= not_logic1_elt
and_logic1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"logic1"},attribute name {"and"}}
cd.nary |= and_logic1_elt
xor_logic1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"logic1"},attribute name {"xor"}}
cd.nary |= xor_logic1_elt
or_logic1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"logic1"},attribute name {"or"}}
cd.nary |= or_logic1_elt
implies_logic1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"logic1"},attribute name {"implies"}}
cd.binary |= implies_logic1_elt
true_logic1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"logic1"},attribute name {"true"}}
cd.constants |= true_logic1_elt
false_logic1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"logic1"},attribute name {"false"}}
cd.constants |= false_logic1_elt
