OpenMath3/rnc/cd/om3-arith1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary 
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace om = "http://www.openmath.org/OpenMath"

lcm_arith1_elt = element om:OMS{attribute cd {"arith1"}, attribute name {"lcm"}}
cd.nary |= lcm_arith1_elt
big_lcm_arith1_elt = element om:OMS{attribute cd {"arith1"}, attribute name {"big_lcm"}}
cd.binders |= big_lcm_arith1_elt
gcd_arith1_elt = element om:OMS{attribute cd {"arith1"}, attribute name {"gcd"}}
cd.nary |= gcd_arith1_elt
big_gcd_arith1_elt = element om:OMS{attribute cd {"arith1"}, attribute name {"big_gcd"}}
cd.binders |= big_gcd_arith1_elt
