OpenMath3/rnc/cd/om3-quant1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary quant1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace om = "http://www.openmath.org/OpenMath"

forall_quant1_elt = element om:OMS{attribute cd {"quant1"}, attribute name {"forall"}}
cd.binders |= forall_quant1_elt
exists_quant1_elt = element om:OMS{attribute cd {"quant1"}, attribute name {"exists"}}
cd.binders |= exists_quant1_elt
