OpenMath3/rnc/cd/om3-linalg2-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary linalg2
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace om = "http://www.openmath.org/OpenMath"

vector_linalg2_elt = element om:OMS{attribute cd {"linalg2"}, attribute name {"vector"}}
cd.unary |= vector_linalg2_elt
matrix_linalg2_elt = element om:OMS{attribute cd {"linalg2"}, attribute name {"matrix"}}
cd.unary |= matrix_linalg2_elt
matrixrow_linalg2_elt = element om:OMS{attribute cd {"linalg2"}, attribute name {"matrixrow"}}
cd.unary |= matrixrow_linalg2_elt
