OpenMath3/rnc/cd/om3-arith1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary 
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace om = "http://www.openmath.org/OpenMath"

lcm_arith1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"arith1"},attribute name {"lcm"}}
cd.nary |= lcm_arith1_elt
gcd_arith1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"arith1"},attribute name {"gcd"}}
cd.nary |= gcd_arith1_elt
plus_arith1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"arith1"},attribute name {"plus"}}
cd.nary |= plus_arith1_elt
unary_minus_arith1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"arith1"},attribute name {"unary_minus"}}
cd.unary |= unary_minus_arith1_elt
minus_arith1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"arith1"},attribute name {"minus"}}
cd.binary |= minus_arith1_elt
times_arith1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"arith1"},attribute name {"times"}}
cd.nary |= times_arith1_elt
divide_arith1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"arith1"},attribute name {"divide"}}
cd.binary |= divide_arith1_elt
power_arith1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"arith1"},attribute name {"power"}}
cd.binary |= power_arith1_elt
abs_arith1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"arith1"},attribute name {"abs"}}
cd.unary |= abs_arith1_elt
root_arith1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"arith1"},attribute name {"root"}}
cd.binary |= root_arith1_elt
sum_arith1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"arith1"},attribute name {"sum"}}
cd.binary |= sum_arith1_elt
product_arith1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"arith1"},attribute name {"product"}}
cd.binary |= product_arith1_elt
