OpenMath3/rnc/cd/om3-fns1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary 
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace om = "http://www.openmath.org/OpenMath"

domainofapplication_fns1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"fns1"},attribute name {"domainofapplication"}}
cd.unary |= domainofapplication_fns1_elt
domain_fns1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"fns1"},attribute name {"domain"}}
cd.unary |= domain_fns1_elt
range_fns1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"fns1"},attribute name {"range"}}
cd.unary |= range_fns1_elt
image_fns1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"fns1"},attribute name {"image"}}
unrecognized arity
identity_fns1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"fns1"},attribute name {"identity"}}
cd.unary |= identity_fns1_elt
left_inverse_fns1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"fns1"},attribute name {"left_inverse"}}
cd.unary |= left_inverse_fns1_elt
right_inverse_fns1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"fns1"},attribute name {"right_inverse"}}
cd.unary |= right_inverse_fns1_elt
inverse_fns1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"fns1"},attribute name {"inverse"}}
cd.unary |= inverse_fns1_elt
left_compose_fns1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"fns1"},attribute name {"left_compose"}}
cd.binary |= left_compose_fns1_elt
lambda_fns1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"fns1"},attribute name {"lambda"}}
cd.binders |= lambda_fns1_elt
