OpenMath3/rnc/cd/om3-rounding1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary rounding1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace om = "http://www.openmath.org/OpenMath"

ceiling_rounding1_elt = element om:OMS{attribute cd {"rounding1"}, attribute name {"ceiling"}}
cd.unary |= ceiling_rounding1_elt
floor_rounding1_elt = element om:OMS{attribute cd {"rounding1"}, attribute name {"floor"}}
cd.unary |= floor_rounding1_elt
trunc_rounding1_elt = element om:OMS{attribute cd {"rounding1"}, attribute name {"trunc"}}
cd.unary |= trunc_rounding1_elt
round_rounding1_elt = element om:OMS{attribute cd {"rounding1"}, attribute name {"round"}}
cd.unary |= round_rounding1_elt
