OpenMath3/rnc/cd/om3-multiset1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary multiset1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace om = "http://www.openmath.org/OpenMath"

cartesian_product_multiset1_elt = element om:OMS{attribute cd {"multiset1"}, attribute name {"cartesian_product"}}
cd.unary |= cartesian_product_multiset1_elt
emptyset_multiset1_elt = element om:OMS{attribute cd {"multiset1"}, attribute name {"emptyset"}}
cd.constants |= emptyset_multiset1_elt
multiset_multiset1_elt = element om:OMS{attribute cd {"multiset1"}, attribute name {"multiset"}}
cd.unary |= multiset_multiset1_elt
intersect_multiset1_elt = element om:OMS{attribute cd {"multiset1"}, attribute name {"intersect"}}
cd.nary |= intersect_multiset1_elt
union_multiset1_elt = element om:OMS{attribute cd {"multiset1"}, attribute name {"union"}}
cd.nary |= union_multiset1_elt
setdiff_multiset1_elt = element om:OMS{attribute cd {"multiset1"}, attribute name {"setdiff"}}
cd.binary |= setdiff_multiset1_elt
subset_multiset1_elt = element om:OMS{attribute cd {"multiset1"}, attribute name {"subset"}}
cd.binary |= subset_multiset1_elt
in_multiset1_elt = element om:OMS{attribute cd {"multiset1"}, attribute name {"in"}}
cd.binary |= in_multiset1_elt
notin_multiset1_elt = element om:OMS{attribute cd {"multiset1"}, attribute name {"notin"}}
cd.binary |= notin_multiset1_elt
prsubset_multiset1_elt = element om:OMS{attribute cd {"multiset1"}, attribute name {"prsubset"}}
cd.binary |= prsubset_multiset1_elt
notsubset_multiset1_elt = element om:OMS{attribute cd {"multiset1"}, attribute name {"notsubset"}}
cd.binary |= notsubset_multiset1_elt
notprsubset_multiset1_elt = element om:OMS{attribute cd {"multiset1"}, attribute name {"notprsubset"}}
cd.binary |= notprsubset_multiset1_elt
size_multiset1_elt = element om:OMS{attribute cd {"multiset1"}, attribute name {"size"}}
cd.unary |= size_multiset1_elt
