OpenMath3/rnc/cd/om3-setname1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary setname1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace om = "http://www.openmath.org/OpenMath"

P_setname1_elt = element om:OMS{attribute cd {"setname1"}, attribute name {"P"}}
cd.constants |= P_setname1_elt
N_setname1_elt = element om:OMS{attribute cd {"setname1"}, attribute name {"N"}}
cd.constants |= N_setname1_elt
Z_setname1_elt = element om:OMS{attribute cd {"setname1"}, attribute name {"Z"}}
cd.constants |= Z_setname1_elt
Q_setname1_elt = element om:OMS{attribute cd {"setname1"}, attribute name {"Q"}}
cd.constants |= Q_setname1_elt
R_setname1_elt = element om:OMS{attribute cd {"setname1"}, attribute name {"R"}}
cd.constants |= R_setname1_elt
C_setname1_elt = element om:OMS{attribute cd {"setname1"}, attribute name {"C"}}
cd.constants |= C_setname1_elt
