OpenMath3/rnc/cd/om3-set1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary 
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace om = "http://www.openmath.org/OpenMath"

cartesian_product_set1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"set1"},attribute name {"cartesian_product"}}
cd.unary |= cartesian_product_set1_elt
emptyset_set1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"set1"},attribute name {"emptyset"}}
cd.constants |= emptyset_set1_elt
map_set1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"set1"},attribute name {"map"}}
cd.binary |= map_set1_elt
size_set1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"set1"},attribute name {"size"}}
cd.unary |= size_set1_elt
suchthat_set1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"set1"},attribute name {"suchthat"}}
cd.binary |= suchthat_set1_elt
set_set1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"set1"},attribute name {"set"}}
cd.unary |= set_set1_elt
intersect_set1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"set1"},attribute name {"intersect"}}
cd.nary |= intersect_set1_elt
union_set1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"set1"},attribute name {"union"}}
cd.nary |= union_set1_elt
setdiff_set1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"set1"},attribute name {"setdiff"}}
cd.binary |= setdiff_set1_elt
subset_set1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"set1"},attribute name {"subset"}}
cd.binary |= subset_set1_elt
in_set1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"set1"},attribute name {"in"}}
cd.binary |= in_set1_elt
notin_set1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"set1"},attribute name {"notin"}}
cd.binary |= notin_set1_elt
prsubset_set1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"set1"},attribute name {"prsubset"}}
cd.binary |= prsubset_set1_elt
notsubset_set1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"set1"},attribute name {"notsubset"}}
cd.binary |= notsubset_set1_elt
notprsubset_set1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"set1"},attribute name {"notprsubset"}}
cd.binary |= notprsubset_set1_elt
