OpenMath3/rnc/cd/om3-relation1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary relation1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace om = "http://www.openmath.org/OpenMath"

eq_relation1_elt = element om:OMS{attribute cd {"relation1"}, attribute name {"eq"}}
cd.binary |= eq_relation1_elt
lt_relation1_elt = element om:OMS{attribute cd {"relation1"}, attribute name {"lt"}}
cd.binary |= lt_relation1_elt
gt_relation1_elt = element om:OMS{attribute cd {"relation1"}, attribute name {"gt"}}
cd.binary |= gt_relation1_elt
neq_relation1_elt = element om:OMS{attribute cd {"relation1"}, attribute name {"neq"}}
cd.binary |= neq_relation1_elt
leq_relation1_elt = element om:OMS{attribute cd {"relation1"}, attribute name {"leq"}}
cd.binary |= leq_relation1_elt
geq_relation1_elt = element om:OMS{attribute cd {"relation1"}, attribute name {"geq"}}
cd.binary |= geq_relation1_elt
approx_relation1_elt = element om:OMS{attribute cd {"relation1"}, attribute name {"approx"}}
cd.binary |= approx_relation1_elt
