OpenMath3/rnc/cd/om3-linalg2-sts.rnc

#     This file contains the arity checking rules for the symbols
#     from the STS types for the content dictionary linalg2
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id$


namespace om = "http://www.openmath.org/OpenMath"

vector_linalg2_elt = element om:OMS {
        attribute cd {"linalg2"},
        attribute name {"vector"}}
matrix_linalg2_elt = element om:OMS {
        attribute cd {"linalg2"},
        attribute name {"matrix"}}
matrixrow_linalg2_elt = element om:OMS {
        attribute cd {"linalg2"},
        attribute name {"matrixrow"}}
Vector_type |= element om:OMA {vector_linalg2_elt,AbelianGroupMult_type*}
Matrix_type |= element om:OMA {matrix_linalg2_elt,MatrixRow_type*}
MatrixRow_type |= element om:OMA {matrixrow_linalg2_elt,Ring_type*}
