OpenMath3/rnc/cd/om3-calculus1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary calculus1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace om = "http://www.openmath.org/OpenMath"

diff_calculus1_elt = element om:OMS{attribute cd {"calculus1"}, attribute name {"diff"}}
cd.unary |= diff_calculus1_elt
nthdiff_calculus1_elt = element om:OMS{attribute cd {"calculus1"}, attribute name {"nthdiff"}}
cd.binary |= nthdiff_calculus1_elt
partialdiff_calculus1_elt = element om:OMS{attribute cd {"calculus1"}, attribute name {"partialdiff"}}
cd.binary |= partialdiff_calculus1_elt
int_calculus1_elt = element om:OMS{attribute cd {"calculus1"}, attribute name {"int"}}
cd.unary |= int_calculus1_elt
defint_calculus1_elt = element om:OMS{attribute cd {"calculus1"}, attribute name {"defint"}}
cd.binary |= defint_calculus1_elt
