OpenMath3/rnc/cd/om3-integer1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary 
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace om = "http://www.openmath.org/OpenMath"

factorof_integer1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"integer1"},attribute name {"factorof"}}
cd.binary |= factorof_integer1_elt
factorial_integer1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"integer1"},attribute name {"factorial"}}
cd.unary |= factorial_integer1_elt
quotient_integer1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"integer1"},attribute name {"quotient"}}
cd.binary |= quotient_integer1_elt
remainder_integer1_elt = element om:OMS {common.attributes,cdbase,attribute cd {"integer1"},attribute name {"remainder"}}
cd.binary |= remainder_integer1_elt
