OpenMath3-effort-2009/rnc/mathml3-relation1-pragmatic.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
      This file contains the pragmatic element definitions for the symbols
      generated from the content dictionary relation1
      It is provided "as is" without expressed or implied warranty.
  
      Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
     $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 
-->
<grammar xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="token.application" combine="choice">
    <ref name="eq_relation1_elt"/>
  </define>
  <define name="eq_relation1_elt" combine="choice">
    <element name="m:eq">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="lt_relation1_elt"/>
  </define>
  <define name="lt_relation1_elt" combine="choice">
    <element name="m:lt">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="gt_relation1_elt"/>
  </define>
  <define name="gt_relation1_elt" combine="choice">
    <element name="m:gt">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="neq_relation1_elt"/>
  </define>
  <define name="neq_relation1_elt" combine="choice">
    <element name="m:neq">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="leq_relation1_elt"/>
  </define>
  <define name="leq_relation1_elt" combine="choice">
    <element name="m:leq">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="geq_relation1_elt"/>
  </define>
  <define name="geq_relation1_elt" combine="choice">
    <element name="m:geq">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="approx_relation1_elt"/>
  </define>
  <define name="approx_relation1_elt" combine="choice">
    <element name="m:approx">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <optional>
        <attribute name="type">
          <ref name="MathMLType"/>
        </attribute>
      </optional>
    </element>
  </define>
</grammar>
