OpenMath3-effort-2009/rnc/mathml3-transc1-pragmatic.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
      This file contains the pragmatic element definitions for the symbols
      generated from the content dictionary transc1
      It is provided "as is" without expressed or implied warranty.
  
      Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
     $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 
-->
<grammar xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="token.application" combine="choice">
    <ref name="log_transc1_elt"/>
  </define>
  <define name="log_transc1_elt" combine="choice">
    <element name="m:log">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="ln_transc1_elt"/>
  </define>
  <define name="ln_transc1_elt" combine="choice">
    <element name="m:ln">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="exp_transc1_elt"/>
  </define>
  <define name="exp_transc1_elt" combine="choice">
    <element name="m:exp">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="sin_transc1_elt"/>
  </define>
  <define name="sin_transc1_elt" combine="choice">
    <element name="m:sin">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="cos_transc1_elt"/>
  </define>
  <define name="cos_transc1_elt" combine="choice">
    <element name="m:cos">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="tan_transc1_elt"/>
  </define>
  <define name="tan_transc1_elt" combine="choice">
    <element name="m:tan">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="sec_transc1_elt"/>
  </define>
  <define name="sec_transc1_elt" combine="choice">
    <element name="m:sec">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="csc_transc1_elt"/>
  </define>
  <define name="csc_transc1_elt" combine="choice">
    <element name="m:csc">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="cot_transc1_elt"/>
  </define>
  <define name="cot_transc1_elt" combine="choice">
    <element name="m:cot">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="sinh_transc1_elt"/>
  </define>
  <define name="sinh_transc1_elt" combine="choice">
    <element name="m:sinh">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="cosh_transc1_elt"/>
  </define>
  <define name="cosh_transc1_elt" combine="choice">
    <element name="m:cosh">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="tanh_transc1_elt"/>
  </define>
  <define name="tanh_transc1_elt" combine="choice">
    <element name="m:tanh">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="sech_transc1_elt"/>
  </define>
  <define name="sech_transc1_elt" combine="choice">
    <element name="m:sech">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="csch_transc1_elt"/>
  </define>
  <define name="csch_transc1_elt" combine="choice">
    <element name="m:csch">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="coth_transc1_elt"/>
  </define>
  <define name="coth_transc1_elt" combine="choice">
    <element name="m:coth">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="arcsin_transc1_elt"/>
  </define>
  <define name="arcsin_transc1_elt" combine="choice">
    <element name="m:arcsin">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="arccos_transc1_elt"/>
  </define>
  <define name="arccos_transc1_elt" combine="choice">
    <element name="m:arccos">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="arctan_transc1_elt"/>
  </define>
  <define name="arctan_transc1_elt" combine="choice">
    <element name="m:arctan">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="arcsec_transc1_elt"/>
  </define>
  <define name="arcsec_transc1_elt" combine="choice">
    <element name="m:arcsec">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="arccsc_transc1_elt"/>
  </define>
  <define name="arccsc_transc1_elt" combine="choice">
    <element name="m:arccsc">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="arccot_transc1_elt"/>
  </define>
  <define name="arccot_transc1_elt" combine="choice">
    <element name="m:arccot">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="arcsinh_transc1_elt"/>
  </define>
  <define name="arcsinh_transc1_elt" combine="choice">
    <element name="m:arcsinh">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="arccosh_transc1_elt"/>
  </define>
  <define name="arccosh_transc1_elt" combine="choice">
    <element name="m:arccosh">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="arctanh_transc1_elt"/>
  </define>
  <define name="arctanh_transc1_elt" combine="choice">
    <element name="m:arctanh">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="arcsech_transc1_elt"/>
  </define>
  <define name="arcsech_transc1_elt" combine="choice">
    <element name="m:arcsech">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="arccsch_transc1_elt"/>
  </define>
  <define name="arccsch_transc1_elt" combine="choice">
    <element name="m:arccsch">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="arccoth_transc1_elt"/>
  </define>
  <define name="arccoth_transc1_elt" combine="choice">
    <element name="m:arccoth">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
</grammar>
