OpenMath3-effort-2009/rnc/mathml3-fns1-pragmatic.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
      This file contains the pragmatic element definitions for the symbols
      generated from the content dictionary fns1
      It is provided "as is" without expressed or implied warranty.
  
      Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
     $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 
-->
<grammar xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="token.application" combine="choice">
    <ref name="domain_fns1_elt"/>
  </define>
  <define name="domain_fns1_elt" combine="choice">
    <element name="m:domain">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="range_fns1_elt"/>
  </define>
  <define name="range_fns1_elt" combine="choice">
    <element name="m:codomain">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="image_fns1_elt"/>
  </define>
  <define name="image_fns1_elt" combine="choice">
    <element name="m:image">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="identity_fns1_elt"/>
  </define>
  <define name="identity_fns1_elt" combine="choice">
    <element name="m:ident">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="left_inverse_fns1_elt"/>
  </define>
  <define name="token.application" combine="choice">
    <ref name="right_inverse_fns1_elt"/>
  </define>
  <define name="token.application" combine="choice">
    <ref name="inverse_fns1_elt"/>
  </define>
  <define name="inverse_fns1_elt" combine="choice">
    <element name="m:inverse">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="left_compose_fns1_elt"/>
  </define>
  <define name="left_compose_fns1_elt" combine="choice">
    <element name="m:compose">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.binder" combine="choice">
    <ref name="lambda_fns1_elt"/>
  </define>
  <define name="lambda_fns1_elt" combine="choice">
    <element name="m:lambda">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <zeroOrMore>
        <ref name="ContExp"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="lambda_fns1_elt" combine="choice">
    <element name="m:lambda">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <zeroOrMore>
        <ref name="bvar"/>
      </zeroOrMore>
      <optional>
        <ref name="qualifier"/>
      </optional>
      <zeroOrMore>
        <ref name="ContExp"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="container" combine="choice">
    <ref name="lambda_fns1_elt"/>
  </define>
</grammar>
