OpenMath3-effort-2009/rnc/mathml3-logic1-pragmatic.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
      This file contains the pragmatic element definitions for the symbols
      generated from the content dictionary logic1
      It is provided "as is" without expressed or implied warranty.
  
      Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
     $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 
-->
<grammar xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="token.application" combine="choice">
    <ref name="equivalent_logic1_elt"/>
  </define>
  <define name="equivalent_logic1_elt" combine="choice">
    <element name="m:equivalent">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.binder" combine="choice">
    <ref name="equivalent_logic1_elt"/>
  </define>
  <define name="token.application" combine="choice">
    <ref name="not_logic1_elt"/>
  </define>
  <define name="not_logic1_elt" combine="choice">
    <element name="m:not">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <optional>
        <attribute name="type">
          <ref name="MathMLType"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="and_logic1_elt"/>
  </define>
  <define name="and_logic1_elt" combine="choice">
    <element name="m:and">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <optional>
        <attribute name="type">
          <ref name="MathMLType"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="token.binder" combine="choice">
    <ref name="and_logic1_elt"/>
  </define>
  <define name="token.binder" combine="choice">
    <ref name="big_and_logic1_elt"/>
  </define>
  <define name="token.application" combine="choice">
    <ref name="xor_logic1_elt"/>
  </define>
  <define name="xor_logic1_elt" combine="choice">
    <element name="m:xor">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <optional>
        <attribute name="type">
          <ref name="MathMLType"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="token.binder" combine="choice">
    <ref name="xor_logic1_elt"/>
  </define>
  <define name="token.binder" combine="choice">
    <ref name="big_xor_logic1_elt"/>
  </define>
  <define name="token.application" combine="choice">
    <ref name="or_logic1_elt"/>
  </define>
  <define name="or_logic1_elt" combine="choice">
    <element name="m:or">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <optional>
        <attribute name="type">
          <ref name="MathMLType"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="token.binder" combine="choice">
    <ref name="or_logic1_elt"/>
  </define>
  <define name="token.binder" combine="choice">
    <ref name="big_or_logic1_elt"/>
  </define>
  <define name="token.application" combine="choice">
    <ref name="implies_logic1_elt"/>
  </define>
  <define name="implies_logic1_elt" combine="choice">
    <element name="m:implies">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <optional>
        <attribute name="type">
          <ref name="MathMLType"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="true_logic1_elt"/>
  </define>
  <define name="true_logic1_elt" combine="choice">
    <element name="m:true">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="false_logic1_elt"/>
  </define>
  <define name="false_logic1_elt" combine="choice">
    <element name="m:false">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
</grammar>
