OpenMath3-effort-2009/rnc/mathml3-arith1-pragmatic.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
      This file contains the pragmatic element definitions for the symbols
      generated from the content dictionary arith1
      It is provided "as is" without expressed or implied warranty.
  
      Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
     $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 
-->
<grammar xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="token.application" combine="choice">
    <ref name="lcm_arith1_elt"/>
  </define>
  <define name="lcm_arith1_elt" combine="choice">
    <element name="m:lcm">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <optional>
        <attribute name="type">
          <ref name="MathMLType"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="token.binder" combine="choice">
    <ref name="lcm_arith1_elt"/>
  </define>
  <define name="token.binder" combine="choice">
    <ref name="big_lcm_arith1_elt"/>
  </define>
  <define name="token.application" combine="choice">
    <ref name="gcd_arith1_elt"/>
  </define>
  <define name="gcd_arith1_elt" combine="choice">
    <element name="m:gcd">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <optional>
        <attribute name="type">
          <ref name="MathMLType"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="token.binder" combine="choice">
    <ref name="gcd_arith1_elt"/>
  </define>
  <define name="token.binder" combine="choice">
    <ref name="big_gcd_arith1_elt"/>
  </define>
  <define name="token.application" combine="choice">
    <ref name="plus_arith1_elt"/>
  </define>
  <define name="plus_arith1_elt" combine="choice">
    <element name="m:plus">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <optional>
        <attribute name="type">
          <ref name="MathMLType"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="unary_minus_arith1_elt"/>
  </define>
  <define name="unary_minus_arith1_elt" combine="choice">
    <element name="m:unary_minus">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <optional>
        <attribute name="type">
          <ref name="MathMLType"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="minus_arith1_elt"/>
  </define>
  <define name="minus_arith1_elt" combine="choice">
    <element name="m:minus">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <optional>
        <attribute name="type">
          <ref name="MathMLType"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="times_arith1_elt"/>
  </define>
  <define name="times_arith1_elt" combine="choice">
    <element name="m:times">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <optional>
        <attribute name="type">
          <ref name="MathMLType"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="divide_arith1_elt"/>
  </define>
  <define name="divide_arith1_elt" combine="choice">
    <element name="m:divide">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <optional>
        <attribute name="type">
          <ref name="MathMLType"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="power_arith1_elt"/>
  </define>
  <define name="power_arith1_elt" combine="choice">
    <element name="m:power">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <optional>
        <attribute name="type">
          <ref name="MathMLType"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="abs_arith1_elt"/>
  </define>
  <define name="abs_arith1_elt" combine="choice">
    <element name="m:abs">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <optional>
        <attribute name="type">
          <ref name="MathMLType"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="root_arith1_elt"/>
  </define>
  <define name="root_arith1_elt" combine="choice">
    <element name="m:root">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <optional>
        <attribute name="type">
          <choice>
            <value>real</value>
            <value>complex</value>
            <value>principal_branch</value>
            <ref name="MathMLType"/>
          </choice>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="sum_arith1_elt"/>
  </define>
  <define name="sum_arith1_elt" combine="choice">
    <element name="m:sum">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.binder" combine="choice">
    <ref name="sum_arith1_elt"/>
  </define>
  <define name="token.application" combine="choice">
    <ref name="product_arith1_elt"/>
  </define>
  <define name="product_arith1_elt" combine="choice">
    <element name="m:product">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.binder" combine="choice">
    <ref name="product_arith1_elt"/>
  </define>
</grammar>
