OpenMath3-effort-2009/rnc/mathml3-linalg1-pragmatic.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
      This file contains the pragmatic element definitions for the symbols
      generated from the content dictionary linalg1
      It is provided "as is" without expressed or implied warranty.
  
      Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
     $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 
-->
<grammar xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="token.application" combine="choice">
    <ref name="vectorproduct_linalg1_elt"/>
  </define>
  <define name="vectorproduct_linalg1_elt" combine="choice">
    <element name="m:vectorproduct">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="scalarproduct_linalg1_elt"/>
  </define>
  <define name="scalarproduct_linalg1_elt" combine="choice">
    <element name="m:scalarproduct">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.binder" combine="choice">
    <ref name="scalarproduct_linalg1_elt"/>
  </define>
  <define name="token.application" combine="choice">
    <ref name="outerproduct_linalg1_elt"/>
  </define>
  <define name="outerproduct_linalg1_elt" combine="choice">
    <element name="m:outerproduct">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.binder" combine="choice">
    <ref name="outerproduct_linalg1_elt"/>
  </define>
  <define name="token.application" combine="choice">
    <ref name="transpose_linalg1_elt"/>
  </define>
  <define name="transpose_linalg1_elt" combine="choice">
    <element name="m:transpose">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="determinant_linalg1_elt"/>
  </define>
  <define name="determinant_linalg1_elt" combine="choice">
    <element name="m:determinant">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="vector_selector_linalg1_elt"/>
  </define>
  <define name="vector_selector_linalg1_elt" combine="choice">
    <element name="m:selector">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="matrix_selector_linalg1_elt"/>
  </define>
  <define name="matrix_selector_linalg1_elt" combine="choice">
    <element name="m:matrix_selector">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
</grammar>
