OpenMath3-effort-2009/rnc/mathml3-veccalc1-pragmatic.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
      This file contains the pragmatic element definitions for the symbols
      generated from the content dictionary veccalc1
      It is provided "as is" without expressed or implied warranty.
  
      Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
     $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 
-->
<grammar xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="token.application" combine="choice">
    <ref name="divergence_veccalc1_elt"/>
  </define>
  <define name="divergence_veccalc1_elt" combine="choice">
    <element name="m:divergence">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="grad_veccalc1_elt"/>
  </define>
  <define name="grad_veccalc1_elt" combine="choice">
    <element name="m:grad">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="curl_veccalc1_elt"/>
  </define>
  <define name="curl_veccalc1_elt" combine="choice">
    <element name="m:curl">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="Laplacian_veccalc1_elt"/>
  </define>
  <define name="Laplacian_veccalc1_elt" combine="choice">
    <element name="m:laplacian">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
</grammar>
