OpenMath3-effort-2009/rnc/cd/mathml3-mathmlkeys-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary 
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
equiv_MathMLkeys_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"MathMLkeys"},attribute name {"equiv"}}

contentequiv_MathMLkeys_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"MathMLkeys"},attribute name {"contentequiv"}}

contentequiv-strict_MathMLkeys_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"MathMLkeys"},attribute name {"contentequiv-strict"}}

