OpenMath3-effort-2009/rnc/cd/mathml3-complex1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary 
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
complex_cartesian_complex1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"complex1"},attribute name {"complex_cartesian"}}
cd.binary |= complex_cartesian_complex1_elt
real_complex1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"complex1"},attribute name {"real"}}
cd.unary |= real_complex1_elt
imaginary_complex1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"complex1"},attribute name {"imaginary"}}
cd.unary |= imaginary_complex1_elt
complex_polar_complex1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"complex1"},attribute name {"complex_polar"}}
cd.binary |= complex_polar_complex1_elt
argument_complex1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"complex1"},attribute name {"argument"}}
cd.unary |= argument_complex1_elt
conjugate_complex1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"complex1"},attribute name {"conjugate"}}
cd.unary |= conjugate_complex1_elt
