OpenMath3-effort-2009/rnc/cd/mathml3-minmax1-arity.rnc

#     This file contains the arity checking rules for the symbols
#     generated from the STS types for the content dictionary 
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
#    $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 


namespace m  ="http://www.w3.org/1998/Math/MathML"
min_minmax1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"minmax1"},attribute name {"min"}}
cd.unary |= min_minmax1_elt
big_min_minmax1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"minmax1"},attribute name {"big_min"}}
cd.binders |= big_min_minmax1_elt
max_minmax1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"minmax1"},attribute name {"max"}}
cd.unary |= max_minmax1_elt
big_max_minmax1_elt = element m:csymbol {MathML.Common.attrib,attribute cd {"minmax1"},attribute name {"big_max"}}
cd.binders |= big_max_minmax1_elt
