OpenMath3/rnc/mathml3-sts-pragmatic.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
      This file contains the token element definitions for the symbols
      generated from the content dictionary sts
      It is provided "as is" without expressed or implied warranty.
  
      Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
     $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 
-->
<grammar xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="token.semantic-attribution" combine="choice">
    <ref name="type_sts_elt"/>
  </define>
  <define name="type_sts_elt" combine="choice">
    <element name="m:type">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="mapsto_sts_elt"/>
  </define>
  <define name="mapsto_sts_elt" combine="choice">
    <element name="m:mapsto">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="nary_sts_elt"/>
  </define>
  <define name="nary_sts_elt" combine="choice">
    <element name="m:nary">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="nassoc_sts_elt"/>
  </define>
  <define name="nassoc_sts_elt" combine="choice">
    <element name="m:nassoc">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="error_sts_elt"/>
  </define>
  <define name="error_sts_elt" combine="choice">
    <element name="m:error">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="structure_sts_elt"/>
  </define>
  <define name="structure_sts_elt" combine="choice">
    <element name="m:structure">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="binder_sts_elt"/>
  </define>
  <define name="binder_sts_elt" combine="choice">
    <element name="m:binder">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="attribution_sts_elt"/>
  </define>
  <define name="attribution_sts_elt" combine="choice">
    <element name="m:attribution">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="Object_sts_elt"/>
  </define>
  <define name="Object_sts_elt" combine="choice">
    <element name="m:Object">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="NumericalValue_sts_elt"/>
  </define>
  <define name="NumericalValue_sts_elt" combine="choice">
    <element name="m:NumericalValue">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="SetNumericalValue_sts_elt"/>
  </define>
  <define name="SetNumericalValue_sts_elt" combine="choice">
    <element name="m:SetNumericalValue">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
</grammar>
