OpenMath3/rnc/mathml3-s_data1-pragmatic.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
      This file contains the token element definitions for the symbols
      generated from the content dictionary s_data1
      It is provided "as is" without expressed or implied warranty.
  
      Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
     $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 
-->
<grammar xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="token.application" combine="choice">
    <ref name="mean_s_data1_elt"/>
  </define>
  <define name="mean_s_data1_elt" combine="choice">
    <element name="m:mean">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="sdev_s_data1_elt"/>
  </define>
  <define name="sdev_s_data1_elt" combine="choice">
    <element name="m:sdev">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="variance_s_data1_elt"/>
  </define>
  <define name="variance_s_data1_elt" combine="choice">
    <element name="m:variance">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="mode_s_data1_elt"/>
  </define>
  <define name="mode_s_data1_elt" combine="choice">
    <element name="m:mode">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="median_s_data1_elt"/>
  </define>
  <define name="median_s_data1_elt" combine="choice">
    <element name="m:median">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="moment_s_data1_elt"/>
  </define>
  <define name="moment_s_data1_elt" combine="choice">
    <element name="m:moment">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
</grammar>
