OpenMath3/rnc/mathml3-list1-pragmatic.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
      This file contains the token element definitions for the symbols
      generated from the content dictionary list1
      It is provided "as is" without expressed or implied warranty.
  
      Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
     $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 
-->
<grammar xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="token.application" combine="choice">
    <ref name="map_list1_elt"/>
  </define>
  <define name="map_list1_elt" combine="choice">
    <element name="m:map">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="suchthat_list1_elt"/>
  </define>
  <define name="suchthat_list1_elt" combine="choice">
    <element name="m:suchthat">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="list_list1_elt"/>
  </define>
  <define name="list_list1_elt" combine="choice">
    <element name="m:list">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <zeroOrMore>
        <ref name="ContExp"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="list_list1_elt" combine="choice">
    <element name="m:list">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <zeroOrMore>
        <ref name="bvar"/>
      </zeroOrMore>
      <optional>
        <ref name="qualifier"/>
      </optional>
      <ref name="ContExp"/>
    </element>
  </define>
  <define name="container" combine="choice">
    <ref name="list_list1_elt"/>
  </define>
</grammar>
