OpenMath3/rnc/mathml3-transc1-roles.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
      This file contains the role checking rules for the symbols
      from the the content dictionary 
      It is provided "as is" without expressed or implied warranty.
  
      Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
     $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 
-->
<grammar xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="log_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>log</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="log_transc1_elt"/>
  </define>
  <define name="ln_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>ln</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="ln_transc1_elt"/>
  </define>
  <define name="exp_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>exp</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="exp_transc1_elt"/>
  </define>
  <define name="sin_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>sin</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="sin_transc1_elt"/>
  </define>
  <define name="cos_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>cos</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="cos_transc1_elt"/>
  </define>
  <define name="tan_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>tan</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="tan_transc1_elt"/>
  </define>
  <define name="sec_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>sec</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="sec_transc1_elt"/>
  </define>
  <define name="csc_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>csc</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="csc_transc1_elt"/>
  </define>
  <define name="cot_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>cot</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="cot_transc1_elt"/>
  </define>
  <define name="sinh_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>sinh</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="sinh_transc1_elt"/>
  </define>
  <define name="cosh_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>cosh</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="cosh_transc1_elt"/>
  </define>
  <define name="tanh_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>tanh</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="tanh_transc1_elt"/>
  </define>
  <define name="sech_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>sech</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="sech_transc1_elt"/>
  </define>
  <define name="csch_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>csch</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="csch_transc1_elt"/>
  </define>
  <define name="coth_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>coth</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="coth_transc1_elt"/>
  </define>
  <define name="arcsin_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>arcsin</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="arcsin_transc1_elt"/>
  </define>
  <define name="arccos_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>arccos</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="arccos_transc1_elt"/>
  </define>
  <define name="arctan_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>arctan</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="arctan_transc1_elt"/>
  </define>
  <define name="arcsec_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>arcsec</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="arcsec_transc1_elt"/>
  </define>
  <define name="arccsc_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>arccsc</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="arccsc_transc1_elt"/>
  </define>
  <define name="arccot_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>arccot</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="arccot_transc1_elt"/>
  </define>
  <define name="arcsinh_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>arcsinh</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="arcsinh_transc1_elt"/>
  </define>
  <define name="arccosh_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>arccosh</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="arccosh_transc1_elt"/>
  </define>
  <define name="arctanh_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>arctanh</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="arctanh_transc1_elt"/>
  </define>
  <define name="arcsech_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>arcsech</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="arcsech_transc1_elt"/>
  </define>
  <define name="arccsch_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>arccsch</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="arccsch_transc1_elt"/>
  </define>
  <define name="arccoth_transc1_elt">
    <element name="m:csymbol">
      <ref name="MathML.Common.attrib"/>
      <attribute name="cd">
        <value>transc1</value>
      </attribute>
      <attribute name="name">
        <value>arccoth</value>
      </attribute>
    </element>
  </define>
  <define name="cd.application" combine="choice">
    <ref name="arccoth_transc1_elt"/>
  </define>
</grammar>
