OpenMath3/rnc/mathml3-calculus1-pragmatic.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
      This file contains the token element definitions for the symbols
      generated from the content dictionary calculus1
      It is provided "as is" without expressed or implied warranty.
  
      Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
     $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 
-->
<grammar xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="token.application" combine="choice">
    <ref name="diff_calculus1_elt"/>
  </define>
  <define name="diff_calculus1_elt" combine="choice">
    <element name="m:diff">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="nthdiff_calculus1_elt"/>
  </define>
  <define name="nthdiff_calculus1_elt" combine="choice">
    <element name="m:nthdiff">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="partialdiff_calculus1_elt"/>
  </define>
  <define name="partialdiff_calculus1_elt" combine="choice">
    <element name="m:partialdiff">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="int_calculus1_elt"/>
  </define>
  <define name="int_calculus1_elt" combine="choice">
    <element name="m:int">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="defint_calculus1_elt"/>
  </define>
  <define name="defint_calculus1_elt" combine="choice">
    <element name="m:defint">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
</grammar>
