OpenMath3/rnc/mathml3-setname1-pragmatic.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
      This file contains the token element definitions for the symbols
      generated from the content dictionary setname1
      It is provided "as is" without expressed or implied warranty.
  
      Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
     $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 
-->
<grammar xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="token.constant" combine="choice">
    <ref name="P_setname1_elt"/>
  </define>
  <define name="P_setname1_elt" combine="choice">
    <element name="m:P">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="N_setname1_elt"/>
  </define>
  <define name="N_setname1_elt" combine="choice">
    <element name="m:N">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="Z_setname1_elt"/>
  </define>
  <define name="Z_setname1_elt" combine="choice">
    <element name="m:integers">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="Q_setname1_elt"/>
  </define>
  <define name="Q_setname1_elt" combine="choice">
    <element name="m:Q">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="R_setname1_elt"/>
  </define>
  <define name="R_setname1_elt" combine="choice">
    <element name="m:reals">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="C_setname1_elt"/>
  </define>
  <define name="C_setname1_elt" combine="choice">
    <element name="m:C">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
</grammar>
