OpenMath3/rnc/mathml3-complex1-pragmatic.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
      This file contains the token element definitions for the symbols
      generated from the content dictionary complex1
      It is provided "as is" without expressed or implied warranty.
  
      Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
     $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 
-->
<grammar xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="token.application" combine="choice">
    <ref name="complex_cartesian_complex1_elt"/>
  </define>
  <define name="complex_cartesian_complex1_elt" combine="choice">
    <element name="m:complex_cartesian">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="real_complex1_elt"/>
  </define>
  <define name="real_complex1_elt" combine="choice">
    <element name="m:real">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="imaginary_complex1_elt"/>
  </define>
  <define name="imaginary_complex1_elt" combine="choice">
    <element name="m:imaginary">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="complex_polar_complex1_elt"/>
  </define>
  <define name="complex_polar_complex1_elt" combine="choice">
    <element name="m:complex_polar">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="argument_complex1_elt"/>
  </define>
  <define name="argument_complex1_elt" combine="choice">
    <element name="m:argument">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="conjugate_complex1_elt"/>
  </define>
  <define name="conjugate_complex1_elt" combine="choice">
    <element name="m:conjugate">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
</grammar>
