OpenMath3/rnc/mathml3-mathmltypes-pragmatic.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
      This file contains the token element definitions for the symbols
      generated from the content dictionary mathmltypes
      It is provided "as is" without expressed or implied warranty.
  
      Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
     $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 
-->
<grammar xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="token.semantic-attribution" combine="choice">
    <ref name="type_mathmltypes_elt"/>
  </define>
  <define name="type_mathmltypes_elt" combine="choice">
    <element name="m:type">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="integer_type_mathmltypes_elt"/>
  </define>
  <define name="integer_type_mathmltypes_elt" combine="choice">
    <element name="m:integer_type">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="real_type_mathmltypes_elt"/>
  </define>
  <define name="real_type_mathmltypes_elt" combine="choice">
    <element name="m:real_type">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="rational_type_mathmltypes_elt"/>
  </define>
  <define name="rational_type_mathmltypes_elt" combine="choice">
    <element name="m:rational_type">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="complex_cartesian_type_mathmltypes_elt"/>
  </define>
  <define name="complex_cartesian_type_mathmltypes_elt" combine="choice">
    <element name="m:complex_cartesian_type">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="complex_polar_type_mathmltypes_elt"/>
  </define>
  <define name="complex_polar_type_mathmltypes_elt" combine="choice">
    <element name="m:complex_polar_type">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="constant_type_mathmltypes_elt"/>
  </define>
  <define name="constant_type_mathmltypes_elt" combine="choice">
    <element name="m:constant_type">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="vector_type_mathmltypes_elt"/>
  </define>
  <define name="vector_type_mathmltypes_elt" combine="choice">
    <element name="m:vector_type">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="list_type_mathmltypes_elt"/>
  </define>
  <define name="list_type_mathmltypes_elt" combine="choice">
    <element name="m:list_type">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="set_type_mathmltypes_elt"/>
  </define>
  <define name="set_type_mathmltypes_elt" combine="choice">
    <element name="m:set_type">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="matrix_type_mathmltypes_elt"/>
  </define>
  <define name="matrix_type_mathmltypes_elt" combine="choice">
    <element name="m:matrix_type">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="fn_type_mathmltypes_elt"/>
  </define>
  <define name="fn_type_mathmltypes_elt" combine="choice">
    <element name="m:fn_type">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
</grammar>
