OpenMath3/rnc/mathml3-linalg2-pragmatic.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
      This file contains the pragmatic element definitions for the symbols
      generated from the content dictionary linalg2
      It is provided "as is" without expressed or implied warranty.
  
      Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
     $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 
-->
<grammar xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="token.application" combine="choice">
    <ref name="vector_linalg2_elt"/>
  </define>
  <define name="vector_linalg2_elt" combine="choice">
    <element name="m:vector">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <optional>
        <attribute name="type">
          <choice>
            <value>row</value>
            <ref name="MathMLType"/>
          </choice>
        </attribute>
      </optional>
      <zeroOrMore>
        <ref name="ContExp"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="vector_linalg2_elt" combine="choice">
    <element name="m:vector">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <optional>
        <attribute name="type">
          <choice>
            <value>row</value>
            <ref name="MathMLType"/>
          </choice>
        </attribute>
      </optional>
      <zeroOrMore>
        <ref name="bvar"/>
      </zeroOrMore>
      <optional>
        <ref name="qualifier"/>
      </optional>
      <zeroOrMore>
        <ref name="ContExp"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="container" combine="choice">
    <ref name="vector_linalg2_elt"/>
  </define>
  <define name="token.application" combine="choice">
    <ref name="matrixrow_linalg2_elt"/>
  </define>
  <define name="matrixrow_linalg2_elt" combine="choice">
    <element name="m:matrixrow">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <zeroOrMore>
        <ref name="ContExp"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="matrixrow_linalg2_elt" combine="choice">
    <element name="m:matrixrow">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <zeroOrMore>
        <ref name="bvar"/>
      </zeroOrMore>
      <optional>
        <ref name="qualifier"/>
      </optional>
      <zeroOrMore>
        <ref name="ContExp"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="container" combine="choice">
    <ref name="matrixrow_linalg2_elt"/>
  </define>
  <define name="token.application" combine="choice">
    <ref name="matrix_linalg2_elt"/>
  </define>
  <define name="matrix_linalg2_elt" combine="choice">
    <element name="m:matrix">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <optional>
        <attribute name="type">
          <choice>
            <value>real</value>
            <value>complex</value>
            <value>integer</value>
            <value>symbolic</value>
            <ref name="MathMLType"/>
          </choice>
        </attribute>
      </optional>
      <zeroOrMore>
        <ref name="ContExp"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="matrix_linalg2_elt" combine="choice">
    <element name="m:matrix">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
      <optional>
        <attribute name="type">
          <choice>
            <value>real</value>
            <value>complex</value>
            <value>integer</value>
            <value>symbolic</value>
            <ref name="MathMLType"/>
          </choice>
        </attribute>
      </optional>
      <zeroOrMore>
        <ref name="bvar"/>
      </zeroOrMore>
      <optional>
        <ref name="qualifier"/>
      </optional>
      <zeroOrMore>
        <ref name="ContExp"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="container" combine="choice">
    <ref name="matrix_linalg2_elt"/>
  </define>
</grammar>
