OpenMath3/rnc/mathml3-multiset1-pragmatic.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
      This file contains the token element definitions for the symbols
      generated from the content dictionary multiset1
      It is provided "as is" without expressed or implied warranty.
  
      Revision:   $Id: sts2rnc-sts.xsl 529 2008-01-15 10:07:01Z kohlhase $
     $HeadURL: https://svn.openmath.org/OpenMath3/rnc/cd/sts2rnc-sts.xsl $ 
-->
<grammar xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="token.application" combine="choice">
    <ref name="size_multiset1_elt"/>
  </define>
  <define name="size_multiset1_elt" combine="choice">
    <element name="m:size">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="cartesian_product_multiset1_elt"/>
  </define>
  <define name="cartesian_product_multiset1_elt" combine="choice">
    <element name="m:cartesian_prodct">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.constant" combine="choice">
    <ref name="emptyset_multiset1_elt"/>
  </define>
  <define name="emptyset_multiset1_elt" combine="choice">
    <element name="m:emptyset">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="multiset_multiset1_elt"/>
  </define>
  <define name="multiset_multiset1_elt" combine="choice">
    <element name="m:multiset">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="intersect_multiset1_elt"/>
  </define>
  <define name="intersect_multiset1_elt" combine="choice">
    <element name="m:intersect">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="union_multiset1_elt"/>
  </define>
  <define name="union_multiset1_elt" combine="choice">
    <element name="m:union">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="setdiff_multiset1_elt"/>
  </define>
  <define name="setdiff_multiset1_elt" combine="choice">
    <element name="m:setdiff">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="subset_multiset1_elt"/>
  </define>
  <define name="subset_multiset1_elt" combine="choice">
    <element name="m:subset">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="in_multiset1_elt"/>
  </define>
  <define name="in_multiset1_elt" combine="choice">
    <element name="m:in">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="notin_multiset1_elt"/>
  </define>
  <define name="notin_multiset1_elt" combine="choice">
    <element name="m:notin">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="prsubset_multiset1_elt"/>
  </define>
  <define name="prsubset_multiset1_elt" combine="choice">
    <element name="m:prsubset">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="notsubset_multiset1_elt"/>
  </define>
  <define name="notsubset_multiset1_elt" combine="choice">
    <element name="m:notsubset">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
  <define name="token.application" combine="choice">
    <ref name="notprsubset_multiset1_elt"/>
  </define>
  <define name="notprsubset_multiset1_elt" combine="choice">
    <element name="m:notprsubset">
      <ref name="MathML.Common.attrib"/>
      <optional>
        <ref name="Definition.attrib"/>
      </optional>
    </element>
  </define>
</grammar>
