OpenMath3/rnc/transc1.rnc

#     This is the Mathematical Markup Language (MathML) 3.0, an XML
#     application for describing mathematical notation and capturing
#     both its structure and content.
#
#     Copyright 1998-2007 World Wide Web Consortium
#        (Massachusetts Institute of Technology, Institut National de
#         Recherche en Informatique et en Automatique, Keio University).
#         All Rights Reserved.
#
#     Permission to use, copy, modify and distribute the RelaxNG schema for MathML3
#     and its accompanying documentation for any purpose and without fee is
#     hereby granted in perpetuity, provided that the above copyright notice
#     and this paragraph appear in all copies.  The copyright holders make
#     no representation about the suitability of the Schema for any purpose.
#
#     This file contains the arity checking rules for the symbols
#     from the STS types for the content dictionary transc1
#     It is provided "as is" without expressed or implied warranty.
#
#     Revision:   $Id$

namespace om = "http://www.openmath.org/OpenMath"
namespace m  ="http://www.w3.org/1998/Math/MathML"
log_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"log"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"log"}}
ln_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"ln"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"ln"}}
exp_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"exp"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"exp"}}
sin_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"sin"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"sin"}}
cos_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"cos"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"cos"}}
tan_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"tan"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"tan"}}
sec_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"sec"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"sec"}}
csc_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"csc"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"csc"}}
cot_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"cot"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"cot"}}
sinh_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"sinh"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"sinh"}}
cosh_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"cosh"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"cosh"}}
tanh_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"tanh"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"tanh"}}
sech_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"sech"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"sech"}}
csch_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"csch"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"csch"}}
coth_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"coth"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"coth"}}
arcsin_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"arcsin"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"arcsin"}}
arccos_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"arccos"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"arccos"}}
arctan_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"arctan"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"arctan"}}
arcsec_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"arcsec"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"arcsec"}}
arccsc_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"arccsc"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"arccsc"}}
arccot_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"arccot"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"arccot"}}
arcsinh_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"arcsinh"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"arcsinh"}}
arccosh_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"arccosh"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"arccosh"}}
arctanh_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"arctanh"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"arctanh"}}
arcsech_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"arcsech"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"arcsech"}}
arccsch_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"arccsch"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"arccsch"}}
arccoth_transc1_elt = element om:OMS {
        attribute cd {"transc1"},
        attribute name {"arccoth"}}
 |    element m:csymbol {
        attribute cd {"transc1"},
        attribute name {"arccoth"}}
NumericalValue_sts_type |= element om:OMA {log_transc1_elt,PositiveInteger_type,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {log_transc1_elt,PositiveInteger_type,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {ln_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {ln_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {exp_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {exp_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {sin_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {sin_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {cos_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {cos_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {tan_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {tan_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {sec_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {sec_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {csc_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {csc_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {cot_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {cot_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {sinh_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {sinh_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {cosh_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {cosh_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {tanh_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {tanh_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {sech_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {sech_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {csch_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {csch_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {coth_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {coth_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {arcsin_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {arcsin_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {arccos_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {arccos_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {arctan_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {arctan_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {arcsec_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {arcsec_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {arccsc_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {arccsc_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {arccot_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {arccot_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {arcsinh_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {arcsinh_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {arccosh_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {arccosh_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {arctanh_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {arctanh_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {arcsech_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {arcsech_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {arccsch_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {arccsch_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element om:OMA {arccoth_transc1_elt,NumericalValue_sts_type}
NumericalValue_sts_type |= element m:apply {arccoth_transc1_elt,NumericalValue_sts_type}
